In [1]:
import numpy as np
import matplotlib.pyplot as plt     #importing e v e r y t h i n g
import seaborn as sns
sns.set(color_codes=True)
import csv
import math
import pandas as pd
import sklearn.metrics as met
from sklearn.multiclass import OneVsRestClassifier
from sklearn.multiclass import OneVsOneClassifier
from sklearn.svm import LinearSVC
import re

In [4]:
df = pd.read_csv('../data/blogtext_trimmed.csv')  #read it in a good way
df.head()

,sign,text,clean_text
0,Leo,"Info has been found (+/- 100 pages,...",info has been found pages and mb of pdf files ...
1,Leo,These are the team members: Drewe...,these are the team members drewes van der laag...
2,Leo,In het kader van kernfusie op aarde...,in het kader van kernfusie op aarde maak je ei...
3,Aquarius,Thanks to Yahoo!'s Toolbar I can ...,thanks to yahoo s toolbar i can now capture th...
4,Aquarius,I had an interesting conversation...,i had an interesting conversation with my dad ...

In [5]:
df.dtypes

sign          object
text          object
clean_text    object
dtype: object